---
import { getCollection } from "astro:content";

import { author } from "@scripts/consts";
import BaseLayout from "@layouts/BaseLayout.astro";
import Post from "@components/Post.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<BaseLayout
  title="Posts"
  description=`Browse articles by ${author} on development, technology, and more.`
>
  <h1>Posts</h1>
  {posts.map((post) => <Post post={post} />)}
</BaseLayout>
