---
import { getCollection } from "astro:content";
import { blog } from "@/consts";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Post from "@/components/Post.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.created.getTime() - a.data.created.getTime(),
);
---

<BaseLayout
  meta={{
    title: "Posts",
    description: blog.description,
  }}
>
  <h1 class="my-4 text-3xl font-bold">Posts</h1>
  {posts.map((post) => <Post post={post} />)}
</BaseLayout>
