---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Date from "../../components/Date.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<BaseLayout title="Posts | Efim.ish" description="There are my blog posts">
  {
    posts.map((post) => (
      <a href={`/posts/${post.id}`}>
        <h2>{post.data.title ?? post.id}</h2>
        <Date date={post.data.date} />
      </a>
    ))
  }
</BaseLayout>
