---
import { getCollection, render } from "astro:content";
import MarkdownLayout from "../../layouts/MarkdownLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

post.data.title ??= post.id;
---

<MarkdownLayout title={post.data.title}>
  <p>
    <a href="/blog">⇦ Back to all posts</a>
  </p>
  <p>
    date: {post.data.date}
  </p>
  {
    post.data.tags &&
      post.data.tags.map((tag) => (
        <p>
          <a href={`/tags/${tag}`}>#{tag}</a>
        </p>
      ))
  }
  <hr>
  <Content />
</MarkdownLayout>
