---
import { getCollection, render } from "astro:content";
import MarkdownLayout from "../../layouts/MarkdownLayout.astro";
import Date from "../../components/Date.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

post.data.title ??= post.id;
---

<MarkdownLayout title={post.data.title}>
  <Date date={post.data.date} />
  {
    post.data.tags &&
      post.data.tags.map((tag) => (
        <span>
          <a href={`/tags/${tag}`}>#{tag}</a>
        </span>
      ))
  }
  <hr />
  <Content />
</MarkdownLayout>
