/* themes */

:root {
  --color-primary: #454545;
  --color-secondary: #EAEAEA;
  --color-background: #FFF;
  --color-link: #007AFF;

  --font-sans: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";

  color-scheme: light dark;
}

.astro-code,
.astro-code span {
  color: var(--shiki-light);
  background-color: var(--color-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #DCDCDC;
    --color-secondary: #414141;
    --color-background: #1E1E1E;
    --color-link: #2DA1FD;
  }

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark);
  }
}

[data-theme="light"] {
  --color-primary: #454545;
  --color-secondary: #EAEAEA;
  --color-background: #FFF;
  --color-link: #007AFF;

  color-scheme: light;

  .astro-code,
  .astro-code span {
    color: var(--shiki-light);
  }
}

[data-theme="dark"] {
  --color-primary: #DCDCDC;
  --color-secondary: #414141;
  --color-background: #1E1E1E;
  --color-link: #2DA1FD;

  color-scheme: dark;

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark);
  }
}

[data-theme="sepia"] {
  --color-primary: #5B4636;
  --color-secondary: #E0D7C3;
  --color-background: #F5ECD8;
  --color-link: #D19600;

  .astro-code,
  .astro-code span {
    color: var(--shiki-light);
  }
}

[data-theme="dracula"] {
  --color-primary: #f8f8f2;
  --color-secondary: #44475a;
  --color-background: #282a36;
  --color-link: #bd93f9;

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark);
  }
}

[data-theme="catppuccin"] {
  --color-primary: #cdd6f4;
  --color-secondary: #313244;
  --color-background: #1e1e2e;
  --color-link: #cba6f7;

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark);
  }
}

/* base styles */

body {
  margin: 1em auto;
  padding: 0 1em;
  max-width: 768px;
  line-height: 1.6;
  font-size: 18px;
  font-family: var(--font-sans);
  color: var(--color-primary);
  background-color: var(--color-background);
  accent-color: var(--color-link);
}

/* headers */

h1,
h2,
h3 {
  line-height: 1.2
}

h1 {
  font-size: 2em;
  margin-block: 0.67em;
}

/* block quotes */

blockquote {
  margin: 1em 0;
  padding-left: 0.6em;
  border-left: 3px solid var(--color-secondary);
}

/* inline code blocks */

:not(.astro-code)>code {
  background-color: var(--color-secondary);
  padding: 0 3px;
  border-radius: 4px;
}

/* links */

a {
  color: var(--color-link);
}

/* code blocks */

.astro-code {
  padding: 0.4em 0.6em;
  border-radius: 4px;
}

/* tables */

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--color-secondary);
  padding: 0 0.4em;
}

/* lists */

ul,
ol {
  padding-left: 1em;
}

/* icons */

svg {
  vertical-align: text-bottom;
  font-size: 1.2em;
}

/* header, footer */

.split-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1em;
  justify-content: space-between;
}

.split-bar > span {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1em;
}

.split-bar a {
  text-decoration: none;
}

.split-bar select {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border: none;
  border-radius: 4px;
  width: 4rem;
}

optgroup {
  font-style: normal;
}

/* post info */

.post-info {
  margin: 1em 0;
}

.post-info * {
  margin: 0;
  padding: 0;
  border: 0;
}

.post-info h1 {
  margin-block: 0.67em;
}

.post-info tr {
  display: flex;
  gap: 0.2em;
}
