---
import { getCollection } from "astro:content";

import { author } from "@scripts/consts";
import BaseLayout from "@layouts/BaseLayout.astro";

const posts = await getCollection("posts");
const tags = Array.from(new Set(posts.flatMap((post) => post.data.tags)));
const tagPostCounts = new Map(
  tags.map((tag) => [
    tag,
    posts.filter((post) => post.data.tags.includes(tag)).length,
  ])
);
---

<BaseLayout
  title="Tags"
  description=`Explore topics covered on ${author}'s blog.`
>
  <h1>Tags</h1>
  {
    tags.map((tag) => (
      <a href={encodeURI(`/tags/${tag}`)} class="chip">
        {tag} ({tagPostCounts.get(tag)})
      </a>
    ))
  }
</BaseLayout>
