---
import { getCollection } from "astro:content";

import { author } from "@scripts/consts";
import BaseLayout from "@layouts/BaseLayout.astro";

const posts = await getCollection("posts");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
let postsWithTag: Record<string, number> = {};
for (const tag of tags) {
  postsWithTag[tag] = posts.filter((post) =>
    post.data.tags.includes(tag)
  ).length;
}
---

<BaseLayout
  title="Tags"
  description=`Explore topics covered on ${author}'s blog.`
>
  <h1>Tags</h1>
  {
    tags.map((tag) => (
      <a href={encodeURI(`/tags/${tag}`)} class="chip">
        {tag} ({postsWithTag[tag]})
      </a>
    ))
  }
</BaseLayout>
