---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<BaseLayout
  title="Tags | Efim.ish"
  description="These are all the tags found in blog posts"
>
  <h1>List of all tags</h1>
  {
    tags.map((tag) => (
      <p>
        <a href={`/tags/${tag}`}>{tag}</a>
      </p>
    ))
  }
</BaseLayout>
