---
import { getCollection } from "astro:content";

import { author } from "@scripts/consts";
import BaseLayout from "@layouts/BaseLayout.astro";

const posts = await getCollection("posts");
const tags = Array.from(new Set(posts.flatMap((post) => post.data.tags)))
  .map((tag) => ({
    tag,
    count: posts.filter((post) => post.data.tags.includes(tag)).length,
  }))
  .sort((a, b) => b.count - a.count || a.tag.localeCompare(b.tag));
---

<BaseLayout
  title="Tags"
  description=`Explore topics covered on ${author}'s blog.`
>
  <h1>Tags</h1>
  {
    tags.map(({ tag, count }) => (
      <a href={encodeURI(`/tags/${tag}`)} class="chip">
        {tag} ({count})
      </a>
    ))
  }
</BaseLayout>
