---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="404: Not Found | Efim.ish" description="Page not found">
  <h1>Page not found</h1>
  <a href="/">Go back home</a>
</BaseLayout>
