---
import { person as p } from "@/consts";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Prose from "@/components/Prose.astro";
---

<BaseLayout
  title="About"
  description=`About ${p.fullname}, an open-source developer and thinker passionate about technology and privacy.`
  og={{
    "og:type": "profile",
    "profile:first_name": p.firstname,
    "profile:last_name": p.lastname,
    "profile:username": p.username,
    "profile:gender": p.gender.toLowerCase(),
  }}
  schemas={[
    {
      "@type": "Person",
      "@id": new URL("/#person", Astro.url.origin).href,
      url: Astro.url.href,
      givenName: p.firstname,
      familyName: p.lastname,
      name: p.fullname,
      alternateName: p.username,
      gender: p.gender,
      email: `mailto:${p.email}`,
      sameAs: [p.github, p.telegram, p.vk],
    },
    {
      "@type": "ProfilePage",
      url: Astro.url.href,
      name: "About",
      mainEntity: {
        "@id": new URL("/#person", Astro.url.origin).href,
      },
    },
  ]}
>
  <Prose>
    <h1>About</h1>
    <p>Hello, traveler!</p>
    <p>
      I am {p.fullname} ({p.pronouns}). I am passionate about technology,
      privacy and open source development. I am from Krasnoyarsk, Russia.
    </p>
    <h2>🛠️ Skills</h2>
    <ul>
      <li>TypeScript, Rust, Python, SQL</li>
      <li>Astro</li>
      <li>Git, Docker, PostgreSQL, Caddy</li>
      <li>GitHub Actions</li>
    </ul>
    <h2>📚 Education</h2>
    <p>Siberian Federal University - B.Sc. in Computer Science, 2023-2027</p>
  </Prose>
</BaseLayout>
