---
import { author } from "@scripts/consts";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  title={author}
  description=`${author}'s personal website: programming, projects, and thoughts.`
>
  <header>
    <h1>{author}</h1>
    <p>Hello, World! And welcome to my corner of the internet!</p>
    <p>
      I am {author} (he/him). I am passionate about technology, privacy and open
      source development. I am from Krasnoyarsk, Russia.
    </p>
  </header>
  <section>
    <h2>Pages</h2>
    <ul>
      <li>
        <a href="/about/">About me</a>
      </li>
      <li>
        <a href="/posts/">My posts (blog)</a>
      </li>
      <li>
        <a href="/projects/">My projects</a>
      </li>
    </ul>
  </section>
</BaseLayout>
