---
import type { Meta } from "../scripts/types";
import BaseLayout from "../layouts/BaseLayout.astro";

const meta: Meta = {
  title: "Efim's personal website",
  description: "This is a personal website of Efim",
  type: "website",
};
---

<BaseLayout meta={meta}>
  <p>
    <a href="/">Home (/)</a>
    <br />
    <a href="/blog">Blog (/blog)</a>
    <br />
    <a href="/tags">Available tags in blogs (/tags)</a>
    <br />
    <a href="/test">Test page (/test)</a>
  </p>
  <h1>Hello, i'm Efim</h1>
  <p>
	And this is my personal website
  </p>
</BaseLayout>
