---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Efim.ish" description="This is a personal website of Efim">
  <h1>Hello, i'm Efim</h1>
  <p>And this is my personal website</p>
</BaseLayout>
