---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Efim.ish" description="This is a personal website of Efim">
  <main>
    <header>
      <h1>Efim Ishenin</h1>
      <p>Hello! I'm Efim, a passionate backend developer</p>
    </header>
    <section>
      <h2>Location</h2>
      <p>Krasnoyarsk, Russia</p>
    </section>
    <section>
      <h2>Skills</h2>
      <h3>Programming Languages</h3>
      <ul class="flat-list">
        <li>JavaScript/TypeScript</li>
        <li>Rust</li>
        <li>Python</li>
        <li>SQL</li>
        <li>Bash</li>
      </ul>
      <h3>Frameworks</h3>
      <ul class="flat-list">
        <li>Astro</li>
        <li>Express</li>
        <li>NestJS</li>
      </ul>
      <h3>Tools</h3>
      <ul class="flat-list">
        <li>Git</li>
        <li>Docker</li>
        <li>PostgreSQL</li>
        <li>Redis</li>
        <li>NGINX</li>
        <li>Caddy</li>
      </ul>
      <h3>Other</h3>
      <ul class="flat-list">
        <li>GitHub Actions</li>
      </ul>
    </section>
    <section>
      <h2>Projects</h2>
      <ul class="flat-list">
        <li>Website</li>
        <li>University project</li>
        <li>Discord bot</li>
        <li>Telegram bot</li>
      </ul>
    </section>
    <section>
      <h2>Education</h2>
      <p>Siberian Federal University - B.Sc. in Computer Science, 2023-2027</p>
    </section>
  </main>
</BaseLayout>
