---
import { person as p, site } from "@/consts";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Prose from "@/components/Prose.astro";
import { defineWebSite } from "@unhead/schema-org";
---

<BaseLayout
  meta={{
    description: site.description,
    schema: defineWebSite({
      "@id": "/#website",
      url: Astro.url.href,
      name: site.name,
      description: site.description,
      author: {
        "@id": new URL("/#person", Astro.url.origin).href,
      },
    }),
  }}
>
  <Prose>
    <h1>{site.name}</h1>
    <p>Hello, World! And welcome to my corner of the internet!</p>
    <p>
      I am {p.fullname} ({p.pronouns}). I am passionate about technology,
      privacy and open source development. I am from Krasnoyarsk, Russia.
    </p>
    <h2>Pages</h2>
    <ul>
      <li><a href="/about/">About me</a></li>
      <li><a href="/posts/">My posts (blog)</a></li>
      <li><a href="/projects/">My projects</a></li>
    </ul>
  </Prose>
</BaseLayout>
