---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

import Github from "@assets/github.svg";
import Linkedin from "@assets/linkedin.svg";
import LocationPin from "@assets/location-pin.svg";

const posts = await getCollection("posts");
---

<BaseLayout title="Test page" description="The page for testing">
  <section>
    <h2>SVGs</h2>
    <Github />
    <Linkedin />
    <LocationPin />
  </section>
  <section>
    <h2>Other</h2>
    <pre>
URL: {Astro.url}
URL origin: {Astro.url.origin}
Site: {Astro.site}
Image: {new URL("favicon-512.png", Astro.url)}
One post: {JSON.stringify(posts[0], null, 2)}
    </pre>
  </section>
</BaseLayout>
