---
import { author } from "@scripts/consts";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Uses" description=`Expole what technologies ${author} uses.`>
  <h1>Uses</h1>
  <ul>
    <li>Firefox</li>
    <li>Git</li>
    <li>GitHub</li>
    <li>VSCode</li>
    <li>Bun</li>
    <li>Podman</li>
    <li>Ghostty</li>
    <li>ffmpeg</li>
    <li>Helix</li>
    <li>Chezmoi</li>
    <li>Zellij</li>
    <li>GIMP</li>
    <li>Obsidian</li>
    <li>Midnight Commander</li>
    <li>Transmission</li>
  </ul>
  <p>
    This page was inspired by
    <a href="https://uses.tech/" target="_blank">uses.tech</a>
  </p>
</BaseLayout>
