---
import { author } from "@scripts/consts";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Uses" description=`Explore what technologies ${author} uses.`>
  <h1>Uses</h1>
  <ul>
    <li>Firefox - browser</li>
    <li>Bitwarden - password manager</li>
    <li>Obsidian - notes</li>
    <li>GitHub - coding projects</li>
    <li>VSCode - code editor</li>
    <li>Transmission - torrent client</li>
    <li>Bun - javascript runtime</li>
    <li>Podman - container manager</li>
    <li>Ghostty - terminal emulator</li>
    <li>ffmpeg - multimedia converter</li>
    <li>Helix - cli code editor</li>
    <li>Chezmoi - dotfiles manager</li>
    <li>Zellij - terminal multiplexer</li>
    <li>GIMP - image editor</li>
  </ul>
  <p>
    This page was inspired by
    <a href="https://uses.tech/" target="_blank">uses.tech</a>
  </p>
</BaseLayout>
