---
import { person as p } from "@/consts";
import Resume from "@/icons/resume.svg";
import Mail from "@/icons/mail.svg";
import Github from "@/icons/github.svg";
import Telegram from "@/icons/telegram.svg";
import VK from "@/icons/vk.svg";
import RSS from "@/icons/rss.svg";
import Moon from "@/components/Moon.astro";
---

<footer>
  <hr class="my-4" />
  <nav
    class="flex flex-wrap justify-between gap-x-4"
    aria-label="Secondary navigation"
  >
    <ul class="flex flex-wrap gap-x-4" aria-hidden="true">
      <li><Moon /></li>
    </ul>
    <ul class="flex flex-wrap gap-x-4">
      <li>
        <a href="/resume.pdf">
          <Resume class="size-5 overflow-visible" />
        </a>
      </li>
      <li>
        <a href=`mailto:${p.email}`>
          <Mail class="size-5 overflow-visible" />
        </a>
      </li>
      <li>
        <a href={p.github} rel="noreferrer" target="_blank">
          <Github class="size-5 overflow-visible" />
        </a>
      </li>
      <li>
        <a href={p.telegram} rel="noreferrer" target="_blank">
          <Telegram class="size-5 overflow-visible" />
        </a>
      </li>
      <li>
        <a href={p.vk} rel="noreferrer" target="_blank">
          <VK class="size-5 overflow-visible" />
        </a>
      </li>
      <li>
        <a href="/feed.xml">
          <RSS class="size-5 overflow-visible" />
        </a>
      </li>
    </ul>
  </nav>
</footer>
