---
import { person as p } from "@/consts";
import Moon from "@/components/Moon.astro";
---

<footer>
  <hr class="my-4 border border-neutral-300 dark:border-neutral-700" />
  <nav
    class="flex flex-wrap justify-between gap-x-3"
    aria-label="Secondary navigation"
  >
    <ul class="flex flex-wrap gap-x-3" aria-hidden="true">
      <li><Moon /></li>
    </ul>
    <ul class="flex flex-wrap gap-x-3">
      <li>
        <a
          class="icon-[lucide--file-user] text-xl text-blue-600 dark:text-blue-500"
          href="/resume.pdf"></a>
      </li>
      <li>
        <a
          class="icon-[lucide--mail] text-xl text-blue-600 dark:text-blue-500"
          href=`mailto:${p.email}`></a>
      </li>
      <li>
        <a
          class="icon-[simple-icons--github] text-xl text-blue-600 dark:text-blue-500"
          href={p.github}
          rel="noreferrer"
          target="_blank"></a>
      </li>
      <li>
        <a
          class="icon-[simple-icons--telegram] text-xl text-blue-600 dark:text-blue-500"
          href={p.telegram}
          rel="noreferrer"
          target="_blank"></a>
      </li>
      <li>
        <a
          class="icon-[simple-icons--vk] text-xl text-blue-600 dark:text-blue-500"
          href={p.vk}
          rel="noreferrer"
          target="_blank"></a>
      </li>
      <li>
        <a
          class="icon-[lucide--rss] text-xl text-blue-600 dark:text-blue-500"
          href="/feed.xml"></a>
      </li>
    </ul>
  </nav>
</footer>
