---
import consts from "@scripts/consts";

import Github from "@assets/github.svg";
import Linkedin from "@assets/linkedin.svg";
import RSS from "@assets/rss.svg";

const year = new Date().getFullYear();

const { github, linkedin } = consts;
---

<footer>
  <hr />
  <div class="footer">
    <span>Copyright &#169; {year}</span>
    <span class="wide"></span>
    <a href={github} target="_blank"><Github /></a>
    <a href={linkedin} target="_blank"><Linkedin /></a>
    <a href="/feed.xml"><RSS /></a>
  </div>
</footer>
