---
import { person as p } from "@/consts";
import Moon from "@/components/Moon.astro";
---

<footer>
  <hr class="my-4" />
  <nav
    class="flex flex-wrap justify-between gap-x-3"
    aria-label="Secondary navigation"
  >
    <ul class="flex flex-wrap gap-x-3" aria-hidden="true">
      <li><Moon /></li>
    </ul>
    <ul class="flex flex-wrap gap-x-3">
      <li>
        <a class="icon-[lucide--file-user] text-xl" href="/resume.pdf"></a>
      </li>
      <li>
        <a class="icon-[lucide--mail] text-xl" href=`mailto:${p.email}`></a>
      </li>
      <li>
        <a
          class="icon-[simple-icons--github] text-xl"
          href={p.github}
          rel="noreferrer"
          target="_blank"
        >
        </a>
      </li>
      <li>
        <a
          class="icon-[simple-icons--telegram] text-xl"
          href={p.telegram}
          rel="noreferrer"
          target="_blank"
        >
        </a>
      </li>
      <li>
        <a
          class="icon-[simple-icons--vk] text-xl"
          href={p.vk}
          rel="noreferrer"
          target="_blank"
        >
        </a>
      </li>
      <li>
        <a class="icon-[lucide--rss] text-xl" href="/feed.xml"></a>
      </li>
    </ul>
  </nav>
</footer>
