---
import { person as p } from "@/consts";
import Resume from "@/assets/icons/resume.svg";
import Mail from "@/assets/icons/mail.svg";
import Github from "@/assets/icons/github.svg";
import Telegram from "@/assets/icons/telegram.svg";
import VK from "@/assets/icons/vk.svg";
import RSS from "@/assets/icons/rss.svg";
import Moon from "@/components/Moon.astro";
---

<footer>
  <hr class="my-4" />
  <nav
    class="flex flex-wrap justify-between gap-x-4"
    aria-label="Secondary navigation"
  >
    <ul class="flex flex-wrap gap-x-4" aria-hidden="true">
      <li><Moon /></li>
    </ul>
    <ul class="flex flex-wrap gap-x-4">
      <li>
        <a href="/resume.pdf"><Resume /></a>
      </li>
      <li>
        <a href=`mailto:${p.email}`><Mail /></a>
      </li>
      <li>
        <a href={p.github} rel="noreferrer" target="_blank"><Github /></a>
      </li>
      <li>
        <a href={p.telegram} rel="noreferrer" target="_blank"><Telegram /></a>
      </li>
      <li>
        <a href={p.vk} rel="noreferrer" target="_blank"><VK /></a>
      </li>
      <li>
        <a href="/feed.xml"><RSS /></a>
      </li>
    </ul>
  </nav>
</footer>
