---
import { person as p } from "@/consts";
import Moon from "@/components/Moon.astro";
import IconLucideFileUser from "~icons/lucide/file-user";
import IconLucideMail from "~icons/lucide/mail";
import IconSimpleIconsGithub from "~icons/simple-icons/github";
import IconSimpleIconsTelegram from "~icons/simple-icons/telegram";
import IconSimpleIconsVk from "~icons/simple-icons/vk";
import IconLucideRss from "~icons/lucide/rss";
---

<footer>
  <hr class="my-4 border border-neutral-300 dark:border-neutral-700" />
  <nav
    class="flex flex-wrap justify-between gap-x-3"
    aria-label="Secondary navigation"
  >
    <ul class="flex flex-wrap gap-x-3" aria-hidden="true">
      <li><Moon /></li>
    </ul>
    <ul class="flex flex-wrap gap-x-3">
      <li>
        <a class="text-blue-600 dark:text-blue-500" href="/resume.pdf">
          <IconLucideFileUser />
        </a>
      </li>
      <li>
        <a class="text-blue-600 dark:text-blue-500" href=`mailto:${p.email}`>
          <IconLucideMail />
        </a>
      </li>
      <li>
        <a
          class="text-blue-600 dark:text-blue-500"
          href={p.github}
          rel="noreferrer"
          target="_blank"
        >
          <IconSimpleIconsGithub />
        </a>
      </li>
      <li>
        <a
          class="text-blue-600 dark:text-blue-500"
          href={p.telegram}
          rel="noreferrer"
          target="_blank"
        >
          <IconSimpleIconsTelegram />
        </a>
      </li>
      <li>
        <a
          class="text-blue-600 dark:text-blue-500"
          href={p.vk}
          rel="noreferrer"
          target="_blank"
        >
          <IconSimpleIconsVk />
        </a>
      </li>
      <li>
        <a class="text-blue-600 dark:text-blue-500" href="/feed.xml">
          <IconLucideRss />
        </a>
      </li>
    </ul>
  </nav>
</footer>
