---
import { email, github } from "@scripts/consts";
import Resume from "@assets/icons/resume.svg";
import Mail from "@assets/icons/mail.svg";
import Github from "@assets/icons/github.svg";
import RSS from "@assets/icons/rss.svg";
import Moon from "@components/Moon.astro";
---

<footer>
  <hr />
  <nav aria-label="Secondary navigation">
    <ul aria-hidden="true">
      <li><Moon /></li>
    </ul>
    <ul>
      <li><a href="/resume.pdf"><Resume /></a></li>
      <li><a href=`mailto:${email}`><Mail /></a></li>
      <li><a href={github} target="_blank"><Github /></a></li>
      <li><a href="/feed.xml"><RSS /></a></li>
    </ul>
  </nav>
</footer>
