---
import { author } from "@scripts/consts";
import ThemeSelector from "@components/ThemeSelector.astro";
import Resume from "@assets/icons/resume.svg";
---

<header>
  <nav class="split-bar">
    <a href="/">{author}</a>
    <span>
      <a href="/posts">Posts</a>
      <a href="/tags">Tags</a>
      <a href="/resume.pdf"><Resume /></a>
      <ThemeSelector />
    </span>
  </nav>
  <hr />
</header>
