<header>
  <nav>
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/feed.xml">RSS Feed</a>
    <a href="/resume.pdf">My Resume</a>
    <a href="https://github.com/Efimish" target="_blank">My GitHub</a>
    <a href="https://www.linkedin.com/in/efima" target="_blank">My Linkedin</a>
  </nav>
</header>
