---
import { author } from "@scripts/consts";
import ThemeSelector from "@components/ThemeSelector.astro";
import Resume from "@assets/icons/resume.svg";
---

<header>
  <nav class="header">
    <a href="/">{author}</a>
    <span class="wide" />
    <a href="/posts">Posts</a>
    <a href="/tags">Tags</a>
    <a href="/resume.pdf"><Resume /></a>
    <ThemeSelector />
  </nav>
  <hr />
</header>
