---
import { author } from "@scripts/consts";
import ThemeSelector from "@components/ThemeSelector.astro";
---

<header>
  <nav class="split-bar">
    <span>
      <a href="/">{author}</a>
      <a href="/about/">About</a>
    </span>
    <span>
      <a href="/posts/">Posts</a>
      <a href="/tags/">Tags</a>
      <a href="/uses/">Uses</a>
      <a href="/projects/">Projects</a>
      <ThemeSelector />
    </span>
  </nav>
  <hr />
</header>
