---
import ThemeSelector from "@components/ThemeSelector.astro";
---

<header>
  <nav aria-label="Primary navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
    <ul>
      <li><a href="/posts/">Posts</a></li>
      <li><a href="/tags/">Tags</a></li>
      <li><a href="/uses/">Uses</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><ThemeSelector /></li>
    </ul>
  </nav>
  <hr />
</header>
