---
import ThemeSelector from "@/components/ThemeSelector.astro";
---

<header>
  <nav
    class="flex flex-wrap justify-between gap-x-4"
    aria-label="Primary navigation"
  >
    <ul class="flex flex-wrap gap-x-4">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
    <ul class="flex flex-wrap gap-x-4">
      <li><a href="/posts/">Posts</a></li>
      <li><a href="/tags/">Tags</a></li>
      <li><a href="/uses/">Uses</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><ThemeSelector /></li>
    </ul>
  </nav>
  <hr class="my-4" />
</header>
