---
import ThemeSelector from "@/components/ThemeSelector.astro";
---

<header>
  <nav
    class="flex flex-wrap justify-between gap-x-4"
    aria-label="Primary navigation"
  >
    <ul class="flex flex-wrap gap-x-4">
      <li>
        <a class="text-blue-600 dark:text-blue-500" href="/">Home</a>
      </li>
      <li>
        <a class="text-blue-600 dark:text-blue-500" href="/about/">About</a>
      </li>
    </ul>
    <ul class="flex flex-wrap gap-x-4">
      <li>
        <a class="text-blue-600 dark:text-blue-500" href="/posts/">Posts</a>
      </li>
      <li>
        <a class="text-blue-600 dark:text-blue-500" href="/tags/">Tags</a>
      </li>
      <li>
        <a class="text-blue-600 dark:text-blue-500" href="/uses/">Uses</a>
      </li>
      <li>
        <a class="text-blue-600 dark:text-blue-500" href="/projects/">
          Projects
        </a>
      </li>
      <li><ThemeSelector /></li>
    </ul>
  </nav>
  <hr class="my-4 border-neutral-200 dark:border-neutral-700" />
</header>
