---
import ThemeSwitcher from "@components/ThemeSwitcher.astro";
import consts from "@scripts/consts";
import Resume from "@assets/resume.svg";

const { author } = consts;
---

<header>
  <nav class="header">
    <a href="/">{author}</a>
    <span class="wide" />
    <a href="/posts">Posts</a>
    <a href="/tags">Tags</a>
    <a href="/resume.pdf"><Resume /></a>
    <ThemeSwitcher />
  </nav>
  <hr />
</header>
