<div
  class="prose prose-neutral prose-blue dark:prose-invert prose-headings:my-4 prose-h5:font-semibold prose-h6:font-semibold prose-p:my-4 prose-img:my-4 prose-hr:my-4 prose-th:[[align=center]]:text-center prose-td:[[align=center]]:text-center prose-th:[[align=right]]:text-right prose-td:[[align=right]]:text-right"
>
  <slot />
</div>
