<select
  id="theme-selector"
  aria-label="Theme selector"
  class="rounded-sm bg-neutral-200 text-xs dark:bg-neutral-800 p-1"
>
  <option value="auto">Auto</option>
  <option value="light">Light</option>
  <option value="dark">Dark</option>
</select>
