---
import "@styles/global.css";

import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {title} {description}>
      <slot name="og" slot="og" />
    </BaseHead>
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script src="@scripts/theme.ts" />
    <script src="@scripts/message.ts" />
  </body>
</html>
